.body {
    height: auto;
    width: auto;
    justify-content: center;
    display: inline-flex;
}

.leftPanel {
    width: 15%;
    height: auto;
    margin-right: 6px;
    position: fixed;
    padding: 10px;
    justify-content: flex-end;
}

.contentPanel {
    justify-content: center;
}

.link {
    font-size: large;
}