.body {
    height: auto;
    width: auto;
    justify-content: center;
    display: block;
}

.leftPanel {
    width: 15%;
    height: auto;
    margin-right: 6px;
    padding: 10px;
    justify-content: flex-end;
}

.contentPanel {
    width: 60%;
    height: auto;
    position: relative;
    right: -35%;
    bottom: 150px;
    justify-content: flex-start;
}

.link {
    font-size: large;
}